<li>
	{{name}}
	{{#unless devoured}}
	<button class="change-eaten btn btn-outline-danger" data-id="{{id}}" data-nowEaten="{{devoured}}"><i class="fas fa-cookie-bite"></i>
		EAT ME!!!
	</button>
	{{/unless}}
</li>


